
<div class="voted-articles">
            <article class="featured-article article">
            <a href="/categories/1" > 
              <span class="tl-cat">Yatch life </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627040849/category/yatch1_foqpo9.jpg" alt="yatch image" />
              <div class="info">
                <h4 class="title">
                  Luxury Yatch
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/2" > 
              <span class="tl-cat">Fast cars </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041146/category/1_prcdyt.jpg" alt="car image" />
              <div class="info">
                <h4 class="title">
                  Luxury cars
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/3" > 
              <span class="tl-cat">Sports </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627134382/test_app/9716ff7f535b66d8c915f2a330825c03.jpg" alt="sky sports image" />
              <div class="info">
                <h4 class="title">
                  Transfer News
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/4" > 
              <span class="tl-cat">Business </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627154416/test_app/b5f5dd44ce08d6c2583556467688e607.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  E-Commerce Business
                </h4>
              </div>
              </a>
            </article>

    </div>
