
<div class="voted-articles">
            <article class="featured-article article">
            <a href="/categories/1" > 
              <span class="tl-cat">Yatch life </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627040849/category/yatch1_foqpo9.jpg" alt="yatch image" />
              <div class="info">
                <h4 class="title">
                  Luxury Yatch
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/2" > 
              <span class="tl-cat">Fast cars </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041146/category/1_prcdyt.jpg" alt="car image" />
              <div class="info">
                <h4 class="title">
                  Luxury cars
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/3" > 
              <span class="tl-cat">Sports </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627134382/test_app/9716ff7f535b66d8c915f2a330825c03.jpg" alt="sky sports image" />
              <div class="info">
                <h4 class="title">
                  Transfer News
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/4" > 
              <span class="tl-cat">Business </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627154416/test_app/b5f5dd44ce08d6c2583556467688e607.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  E-Commerce Business
                </h4>
              </div>
              </a>
            </article>

        
 <article class="featured-article article">
            <a href="/categories/5" > 
              <span class="tl-cat">Sillicon Valley  </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627134688/test_app/51a0dedeb8aeeff533e7c9250d523f19.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Sillicon
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/6" > 
              <span class="tl-cat">Jet life </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627134867/test_app/99914f807f0440e35f173ec409d108af.jpg" alt="jet image" />
              <div class="info">
                <h4 class="title">
                  Luxury Jet
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/7" > 
              <span class="tl-cat">Real Estate </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042011/category/tower_boukp4.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Urban Housing
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/8" > 
              <span class="tl-cat">Africa </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042015/category/Africa_l9sszp.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Africa Unites
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/9" > 
              <span class="tl-cat">Fashion </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042013/category/fashion_osptlg.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Fashion Designers
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/10" > 
              <span class="tl-cat">Motor Bike </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1626968093/test_app/57d39866e060008b81fcf97ec6c0a59e.webp" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Best Motor Bike 2021
                </h4>
              </div>
              </a>
            </article>
            <article class="featured-article article">
            <a href="/categories/11" > 
              <span class="tl-cat">Politics </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042501/category/obama_r9wj7e.jpg" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Obama
                </h4>
              </div>
              </a>
            </article>
            <article class="featured-article article">
            <a href="/categories/12" > 
              <span class="tl-cat">Movie </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627297734/test_app/movieposter_en_qj2egn.jpg" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Central Intelligence
                </h4>
              </div>
              </a>
            </article> 
    </div>
