
<div class="voted-articles">
            <article class="featured-article article">
            <a href="/categories/1" > 
              <span class="tl-cat">Yatch life </span>
              <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/20210527_122514_Yacht_port_Hercule_Monaco.jpg" alt="yatch image" />
              <div class="info">
                <h4 class="title">
                  Luxury Yatch
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/2" > 
              <span class="tl-cat">Fast cars </span>
              <img class="img-responsive" src="https://i.pinimg.com/474x/ce/7b/0a/ce7b0aede54055b4722304e04c6a1c9d.jpg" alt="car image" />
              <div class="info">
                <h4 class="title">
                  Luxury cars
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/3" > 
              <span class="tl-cat">Sports </span>
              <img class="img-responsive" src="https://e2.365dm.com/20/03/768x432/skysports-ssn-news-studio_4954392.jpg?20200324122309" alt="sky sports image" />
              <div class="info">
                <h4 class="title">
                  Transfer News
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/4" > 
              <span class="tl-cat">Business </span>
              <img class="img-responsive" src="https://i.ytimg.com/vi/rxGVlh-y8bo/maxresdefault.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  E-Commerce Business
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/5" > 
              <span class="tl-cat">Medical  </span>
              <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7vefLQox6t-jvCmEFQ6TqS9qXvf8O4EflfA&usqp=CAU" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Greys anatomy
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/6" > 
              <span class="tl-cat">Jet life </span>
              <img class="img-responsive" src="https://i.pinimg.com/474x/d2/bc/c1/d2bcc184b897b1311992936afab0b54a.jpg" alt="jet image" />
              <div class="info">
                <h4 class="title">
                  Luxury Jet
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/7" > 
              <span class="tl-cat">Real Estate </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dutp9tvqi/image/upload/v1/test_app/e1a6d00f668e5d6d5cdf50751bd24572.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  b of berseck
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/8" > 
              <span class="tl-cat">Africa </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dutp9tvqi/image/upload/v1/test_app/703be2c9e9b3f4b3a3ebc0504e9482a7.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Africa Unites
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/9" > 
              <span class="tl-cat">Fashion </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dutp9tvqi/image/upload/v1/test_app/703be2c9e9b3f4b3a3ebc0504e9482a7.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Fashion Designers
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/10" > 
              <span class="tl-cat">Motor Byk </span>
              <img class="img-responsive" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1586818797-panigale-v2-v02-red-my20-model-preview-1050x650-1586818791.png?crop=1xw:1xh;center,top&resize=768:*" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Best Motor bike of 2021
                </h4>
              </div>
              </a>
            </article>
            <article class="featured-article article">
            <a href="/categories/11" > 
              <span class="tl-cat">Motor Byk </span>
              <img class="img-responsive" src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1586818797-panigale-v2-v02-red-my20-model-preview-1050x650-1586818791.png?crop=1xw:1xh;center,top&resize=768:*" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Best Motor bike of 2021
                </h4>
              </div>
              </a>
            </article>
            <article class="featured-article article">
            <a href="/categories/12" > 
              <span class="tl-cat">Time Piece </span>
              <img class="img-responsive" src="https://5.imimg.com/data5/IR/VF/SK/SELLER-33267804/img-20190314-191148-500x500.jpg" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Luxury wrist watch of the century
                </h4>
              </div>
              </a>
            </article>

    </div>
