
<div class="voted-articles">
            <article class="featured-article article">
            <a href="/categories/1" > 
              <span class="tl-cat">Yatch life </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627040849/category/yatch1_foqpo9.jpg" alt="yatch image" />
              <div class="info">
                <h4 class="title">
                  Luxury Yatch
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/2" > 
              <span class="tl-cat">Fast cars </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041146/category/1_prcdyt.jpg" alt="car image" />
              <div class="info">
                <h4 class="title">
                  Luxury cars
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/3" > 
              <span class="tl-cat">Sports </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041154/category/sky-sports_jetykr.jpg" alt="sky sports image" />
              <div class="info">
                <h4 class="title">
                  Transfer News
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/4" > 
              <span class="tl-cat">Business </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041141/category/eco-friendly_pz2jxj.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  E-Commerce Business
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/5" > 
              <span class="tl-cat">Sillicon Valley  </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041140/category/sillicon-v_b4wecx.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Sillicon
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/6" > 
              <span class="tl-cat">Jet life </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041750/category/luxury_jet_gjqmt7.jpg" alt="jet image" />
              <div class="info">
                <h4 class="title">
                  Luxury Jet
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/7" > 
              <span class="tl-cat">Real Estate </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042011/category/tower_boukp4.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Urban Housing
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/8" > 
              <span class="tl-cat">Africa </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042015/category/Africa_l9sszp.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Africa Unites
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/9" > 
              <span class="tl-cat">Fashion </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042013/category/fashion_osptlg.jpg" alt="first image" />
              <div class="info">
                <h4 class="title">
                  Fashion Designers
                </h4>
              </div>
              </a>
            </article>

            <article class="featured-article article">
            <a href="/categories/10" > 
              <span class="tl-cat">Motor Bike </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627041426/category/red-bike_lmac3d.png" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Best Motor Bike 2021
                </h4>
              </div>
              </a>
            </article>
            <article class="featured-article article">
            <a href="/categories/11" > 
              <span class="tl-cat">Politics </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627042501/category/obama_r9wj7e.jpg" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Obama
                </h4>
              </div>
              </a>
            </article>
            <article class="featured-article article">
            <a href="/categories/12" > 
              <span class="tl-cat">Movie </span>
              <img class="img-responsive" src="https://res.cloudinary.com/dd6iakosn/image/upload/v1627043833/category/Centralintelligence_xxufbc.jpg" alt="bike image" />
              <div class="info">
                <h4 class="title">
                  Central Intelligence
                </h4>
              </div>
              </a>
            </article>

    </div>
