<div class="container-fluid">
  <div class="row">
  <article class="col-sm-12 article featured-article hero-article">
      <span class="tl-cat">FEATURED ARTICLE</span>
      <img class="img-responsive" src="<%= image %>" alt=" image" />
      <div class="info">
        <h1 class="title"> <%= body %> </h1>
        <p class="description"><%= title %></p>
      </div>
    </article>
   
  </div>
</div>
