<% 8.times do |i|%>
    <article class="featured-article article">
      <span class="tl-cat">FEATURED ARTICLE</span>
      <img class="img-responsive" src="" alt=" image" />
      <div class="info">
        <h4 class="title">
          Title
        </h4>
      </div>
    </article>
  <%end%>