<footer>
  <nav class="main-nav">
    <%= link_to root_path, class: 'navbar-brand' do %>
         <h1 style="margin:0 ;color: rgba(0,0,0, 0.3); font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;"><%#= image_tag('logo.jpg', style: 'width:45px')%> LuXuryLyF</h1>
    <% end %>
    <ul class="nav navbar-nav">
      <li class="nav-item"> <a href="#" class="policy-links">Privacy Policy</a> </li>
      <li class="nav-item"> <a href="#" class="policy-links">Terms &amp; Conditions</a> </li>
      <li class="nav-item"> <a href="#" >&copy; Copyright 2020. All rights reserved.</a> </li>
    </ul>
    
  </nav>
</footer>